{% load i18n mezzanine_tags comment_tags rating_tags %}

{% for comment in comments_for_thread %}

<div id="comment-{{ comment.id }}"
    class="row blog-comments margin-bottom-30">

    {% editable comment.is_public comment.is_removed %}
    {% if not comment.is_removed and comment.is_public or request.user.is_staff %}
    <div class="col-md-2 col-sm-12 md-margin-bottom-40">
        {% if comment.url %}
        <a href="{{ comment.url }}">
            <img src="{% gravatar_url comment.email 80 %}">
        </a>
    </div>
    <div class="col-md-10 col-sm-12">
        <div class="comments-itself">
            <h3 class="media-heading"><a href="{{ comment.url }}">{{ comment.user_name }}</a>
        {% else %}
        <img src="{% gravatar_url comment.email 80 %}">
    </div>
    <div class="col-md-10 col-sm-12">
        <div class="comments-itself">
            <h3 class="media-heading">{{ comment.user_name }}
        {% endif %}
                <span class="timespan">
                    {% blocktrans with sometime=comment.submit_date|timesince %}{{ sometime }} ago{% endblocktrans %}
                </span>
            </h3>
            <p>{{ comment.comment|comment_filter }}</p>
            {% if settings.COMMENTS_USE_RATINGS %}
            <div class="rating">
            {% rating_for comment %}
            </div>
            {% endif %}
     
            <a href="{{ request.path }}#comment-{{ comment.id }}">
                <i class="glyphicon glyphicon-link"></i> {% trans "Link" %}
            </a> |
            <a href="#reply-{{ comment.id }}" class="reply">
                <i class="glyphicon glyphicon-share-alt"></i> {% trans "Reply" %}
            </a>
               
            <form class="comment-reply-form sky-form" method="post" id="reply-{{ comment.id }}" action="{{ comment_url }}#reply-{{ comment.id }}"
                {% if replied_to != comment.id %}style="display:none;"{% endif %}>
                {% if replied_to == comment.id %}
                {% fields_for posted_comment_form %}
                {% else %}
                {% fields_for unposted_comment_form %}
                {% endif %}
                <input type="hidden" name="replied_to" value="{{ comment.id }}">
                <input class="btn btn-primary btn-lg btn-u" type="submit" value="{% trans "Reply" %}">
            </form>
            {% comment_thread comment %}
        </div>
    </div>
    {% else %}
    <p>
        {% if comment.is_removed %}
        <span class="glyphicon glyphicon-remove-circle"></span> {% trans "Comment deleted" %}
        {% else %}
        <span class="glyphicon glyphicon-warning-sign"></span> {% trans "Comment awaiting approval" %}
        {% endif %}
        <small class="timespan">{% blocktrans with sometime=comment.submit_date|timesince %}{{ sometime }} ago{% endblocktrans %}</small>
    </p>
    {% endif %}
    {% endeditable %}
</div>
{% endfor %}

{% if no_comments %}
<p>{% trans "There are currently no comments" %}</p>
{% endif %}

