{% load mezzanine_tags i18n crispy_forms_tags %}

<div class="row">
    <div class="container">
        <div class="col-md-8 col-md-offset-2">
            <form action="{% if event %}{{ event.get_absolute_url }}{% else %}/{{ page.slug }}{% endif %}" method="post" class="sky-form container full-width">
            {% csrf_token %}
            <div class="col-md-6">
                {{ form.first_name.label_tag }}
                <label class="input">
                    <i class="icon-prepend fa fa-user"></i>
                    {{ form.first_name }}
                </label>
                {{ form.first_name.errors }}
            </div>
            <div class="col-md-6">
                {{ form.last_name.label_tag }}
                <label class="input">
                    <i class="icon-prepend fa fa-user"></i>
                {{ form.last_name }}
                </label>
                {{ form.last_name.errors }}
            </div>
            <div class="col-md-6">
                {{ form.company_name.label_tag }}
                <label class="input">
                    <i class="icon-prepend fa fa-briefcase"></i>
                    {{ form.company_name }}
                </label>
                {{ form.company_name.errors }}
            </div>
            <div class="col-md-6">
                {{ form.job_title.label_tag }}
                <label class="input">
                    <i class="icon-prepend fa fa-suitcase"></i>
                    {{ form.job_title }}
                </label>
                {{ form.job_title.errors }}
            </div>
            <div class="col-md-6">
                {{ form.email_address.label_tag }}
                <label class="input">
                    <i class="icon-prepend fa fa-envelope"></i>
                    {{ form.email_address }}
                </label>
                {{ form.email_address.errors }}
            </div>
            <div class="col-md-6">
                {{ form.phone_number.label_tag }}
                <label class="input">
                    <i class="icon-prepend fa fa-phone"></i>
                    {{ form.phone_number }}
                </label>
                {{ form.phone_number.errors }}
            </div>
            <div class="col-md-12">
                {{ form.comments.label_tag }}
                <label class="textarea">
                    <i class="icon-prepend fa fa-comment"></i>
                    {{ form.comments }}
                </label>
                {{ form.comments.errors }}
            </div>
            <button type="submit" class="btn-u">{% trans 'Send' %}</button>
        </form>
        </div>
    </div>
</div>
