<!doctype html>
<html lang="{{ LANGUAGE_CODE }}"{% if LANGUAGE_BIDI %} dir="rtl"{% endif %}>
    {% load pages_tags mezzanine_tags i18n staticfiles page_contents cookielaw_tags %}

    <head>
        <meta name="google-site-verification" content="xgJmeamRxOCWMMdWg8jZ7qAb1ORCWIbiaiA_8g0QFwU" />
        <meta http-equiv="Content-type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
        <meta name="description" property="og:description" content="{% if settings.SITE_TAGLINE %}{{ settings.SITE_TAGLINE }}{% endif %} {% block meta_description %}{% endblock %}">
        {% if blog_post %}<meta property="og:title" content="{{ blog_post.title }}"/>
        {% if blog_post.image_url != "" %}<meta prefix="og: http://ogp.me/ns#" property="og:image" content="{{ blog_post.image_url }}"/>
        {% endif %}{% endif %}
        <title>{% block meta_title %}{% endblock %}{% if settings.SITE_TITLE %} | {{ settings.SITE_TITLE }}{% endif %}</title>
        <link rel="shortcut icon" href="{% static "img/favicon.ico" %}">

        <link rel="alternate" href="https://ln2x.com/en/" hreflang="en" />
        <link rel="alternate" href="https://ln2x.com/fr/" hreflang="fr" />
        <link rel="alternate" href="https://ln2x.com/es/" hreflang="es" />
        <link rel="alternate" href="https://ln2x.com/en/" hreflang="x-default" />
        {% ifinstalled mezzanine.blog %}
        <link rel="alternate" type="application/rss+xml" title="RSS" href="{% url "blog_post_feed" "rss" %}">
        <link rel="alternate" type="application/atom+xml" title="Atom" href="{% url "blog_post_feed" "atom" %}">
        {% endifinstalled %}

        {% compress css %}
        <link rel="stylesheet" href="{% static "css/custom-bootstrap.css" %}">
        <link rel="stylesheet" href="{% static "css/custom-bootstrap.css" %}">
        <link rel="stylesheet" href="{% static "css/mezzanine.css" %}">
        {% if LANGUAGE_BIDI %}
        <link rel="stylesheet" href="{% static "css/bootstrap-rtl.css" %}">
        {% endif %}
        {% ifinstalled cartridge.shop %}
        <link rel="stylesheet" href="{% static "css/cartridge.css" %}">
        {% if LANGUAGE_BIDI %}
        <link rel="stylesheet" href="{% static "css/cartridge.rtl.css" %}">
        {% endif %}
        {% endifinstalled %}

        <link rel="stylesheet" href="{% static "ln2xsite/css/app.css" %}">
        <link rel="stylesheet" href="{% static "ln2xsite/css/blocks.css" %}">
        <link rel="stylesheet" href="{% static "ln2xsite/css/style.css" %}">
        <!-- CSS Header and Footer -->
        <link rel="stylesheet" href="{% static "ln2xsite/css/headers/custom-header-v6.css" %}">
        <link rel="stylesheet" href="{% static "ln2xsite/css/footers/footer-v1.css" %}">

        <!-- CSS Theme -->
        <link rel="stylesheet" href="{% static "ln2xsite/css/theme/orange.css" %}" id="style_color">
        <link rel="stylesheet" href="{% static "ln2xsite/css/theme/dark.css" %}">

        <!-- CSS Implementing Plugins -->
        <link rel="stylesheet" href="{% static "ln2xsite/plugins/animate.css" %}">
        <link rel="stylesheet" href="{% static "ln2xsite/plugins/line-icons/line-icons.css" %}">
        <link rel="stylesheet" href="{% static "ln2xsite/plugins/font-awesome/css/font-awesome.min.css" %}">
        <link rel="stylesheet" href="{% static "ln2xsite/plugins/line-icons/line-icons.css" %}">
        <link rel="stylesheet" href="{% static "ln2xsite/plugins/line-icons-pro/styles.css" %}">
        <link rel="stylesheet" href="{% static "ln2xsite/plugins/sky-forms-pro/skyforms/css/sky-forms.css" %}">
        <link rel="stylesheet" href="{% static "ln2xsite/plugins/sky-forms-pro/skyforms/custom/custom-sky-forms.css" %}">
        <!--[if lt IE 9]><link rel="stylesheet" href="{% static "ln2xsite/plugins/sky-forms-pro/skyforms/css/sky-forms-ie8.css" %}"><![endif]-->

        <link rel="stylesheet" href="{% static "ln2xsite/css/imageslnx.css" %}">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"> 
        {% block extra_css %}{% endblock %}
        <link rel="stylesheet" href="{% static "ln2xsite/css/fonts.css" %}">
        <link rel="stylesheet" href="{% static "ln2xsite/css/custom.css" %}">
        {% endcompress %}

        {% compress js %}
        <script src="{% static "mezzanine/js/"|add:settings.JQUERY_FILENAME %}"></script>
        <script src="{% static "js/bootstrap-extras.js" %}"></script>

        <!-- JS Global Compulsory -->
        <script type="text/javascript" src="{% static "ln2xsite/plugins/jquery/jquery.js" %}"></script>
        <script type="text/javascript" src="{% static "ln2xsite/plugins/jquery/jquery-migrate.min.js" %}"></script>
        <script type="text/javascript" src="{% static "ln2xsite/plugins/bootstrap/js/bootstrap.min.js" %}"></script>
        <!-- JS Implementing Plugins -->
        <script type="text/javascript" src="{% static "ln2xsite/plugins/back-to-top.js" %}"></script>
        <script type="text/javascript" src="{% static "ln2xsite/plugins/smoothScroll.js" %}"></script>
        <!-- JS Page Level -->
        <script type="text/javascript" src="{% static "ln2xsite/js/custom-app.js" %}"></script>
        <script type="text/javascript" src="{% static "ln2xsite/js/custom.js" %}"></script>
        <script type="text/javascript" src="{% static "cookielaw/js/cookielaw.js" %}"></script>
        {% block extra_js %}{% endblock %}
        {% endcompress %}

        <!--[if lt IE 9]>
        <script src="{% static "ln2xsite/js/html5shiv.js" %}"></script>
        <script src="{% static "ln2xsite/js/respond.min.js" %}"></script>
        <script src="{% static "ln2xsite/plugins/respond.js" %}"></script>
        <script src="{% static "ln2xsite/plugins/html5shiv.js" %}"></script>
        <script src="{% static "ln2xsite/plugins/placeholder-IE-fixes.js" %}"></script>
        <![endif]-->

        {% block extra_head %}{% endblock %}
    </head>

    <body id="{% block body_id %}body{% endblock %}" class="header-fixed {% block body_classes %}dark{% endblock %}" > 
        <div class="wrapper">
            {% block header %}
            <!--=== Header v6 ===-->
            <span class="dark">
            <div class="header-v6 header-dark-transparent header-sticky">
                <!-- Navbar -->
                <div class="navbar mega-menu" role="navigation">
                    <div class="container">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="menu-container">
                            <!-- Navbar Brand -->
                            <div class="navbar-brand">
                                <a href="/">
                                    <img class="default-logo" src="https://s3.eu-central-1.amazonaws.com/ln2ximages/Icons/Little+LNX+Logo+White+Connectors.png" alt="Logo">
                                    <img class="shrink-logo" src="https://s3.eu-central-1.amazonaws.com/ln2ximages/Icons/Little+LNX+Logo+White+Connectors.png" alt="Logo">
                                </a>
                            </div>
                            <!-- ENd Navbar Brand -->
                            <!-- Page Title -->
                            <div class="header-title header-inner-left">
                                <h1>{% block title %}{{ page.title }}{% endblock %}</h1>
                                {% block sub_menu %}{% endblock %}
                            </div>
                            <!-- End Page Title -->
                            <!-- Header Inner Right -->
                            <div class="header-inner-right">
                                <ul class="menu-icons-list">
                                    <li class="menu-icons">
                                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                                            <span class="sr-only">Toggle navigation</span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                        </button>
                                    </li>
                                    <li class="menu-icons">
                                        {% include "includes/language_selector.html" %}
                                    </li>
                                    <li class="menu-icons">
                                        <i class="menu-icons-style login login-close login-btn fa icon-login"></i>
                                        <div class="login-open">
                                            <div class="container">
                                                {% block navbar_login_form %}{% include "includes/user_panel.html" %}{% endblock %}
                                            </div>
                                        </div>
                                    </li>
                                    <li class="menu-icons">
                                        <i class="menu-icons-style search search-close search-btn fa fa-search"></i>
                                        <div class="search-open">
                                            {% block navbar_search_form %}{% search_form %}{% endblock %}
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <!-- End Header Inner Right -->
                        </div>

                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse navbar-responsive-collapse">
                            <div class="menu-container">
                            {% block navbar_dropdown_menu %}{% page_menu "pages/menus/dropdown.html" %}{% endblock%}
                            </div>
                        </div><!--/navbar-collapse-->
                    </div>
                </div>
                <!-- End Navbar -->
            </div>
            </span>
            <!--=== End Header v6 ===-->
            {% endblock %}
     
            {% block intro %}
            <div class="dark parallaxBg" style="{% block intro_style %}{% endblock %}">
                <div class="breadcrumbs-v3 text-center">
                    <div class="container">
                        <div class="headline-center">
                            <h1>{% block intro_title %}{% editable page.title %}{{ page.title }}{% endeditable %}{% endblock %}</h1>
                            {% block intro_text %}{% endblock %}
                        </div>
                    </div>
                </div>
            </div>
            {% endblock %}
            <!--
                    <div class="container">
                        <div class="breadcrumb">
                            {% block breadcrumb_menu %}{% page_menu "pages/menus/breadcrumb.html" %}{% endblock %}
                        </div>
                    </div>
            -->
            {% cookielaw_banner %}
            {% block thanks %}{% endblock %}

            {% nevercache %}
            {% if messages %}
            <div class="messages">
                <div class="container">
                    {% for message in messages %}
                    <div class="alert alert-dismissable alert-{{ message.tags }}" data-alert="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        {{ message }}
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
            {% endnevercache %}
            {% block videoBackground %}{% endblock %}
            {% block container %}

            {% block main %}{% endblock %}

            {% block keywords %}
            <div class="container row-reveal content center-text">
                {% keywords_content LANGUAGE_CODE as content%}
                {% include "ln2xevents/contentrow.html" %}
                {% with multilang_keywords=keywords show_all_multilang_keywords=True %}
                {% include 'unifypage/multilang-keywords-list.html' %}
                {% endwith %}
            </div>
            {% endblock %}
            {% endblock %}
        </div>
        
        <footer>
            <!--=== Footer v1 ===-->
            <div id="footer-v1" class="footer-v1 dark">
                <div class="footer">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-9 col-md-91">
                                <!-- Social Networks -->
                                <div class="col-social-1 col-md-3 col-md-36 col-sm-6 md-margin-bottom-40">
                                    <div class="headline">
                                        <h2><a href="#">Social</a></h2>
                                    </div>

                                    <ul class="footer-socials list-inline">
                                        <li>
                                            <a href="https://www.facebook.com/liquidnexxus" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://www.linkedin.com/company/liquidnexxus" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Linkedin">
                                                <i class="fa fa-linkedin"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://twitter.com/liquidnexxus1" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Twitter">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                        </li>
                                    </ul>
                                    <!-- End Social Links -->
                                    {% include "twitter/tweets_lang_dep.html" %}
                                    <!-- End Social Networks -->
                                </div>
                                {% page_menu "pages/menus/footer.html" %}
                            </div>
                        </div>
                    </div>
                </div><!--/footer-->

                <div class="copyright">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <p>
                                2017 &copy; <a href="/">LiquidNexxus</a>
                                </p>
                                <p>
                                {% trans 'LiquidNexxus Limited | Company Registration No: 6959415 - | VAT Number - 978380467' %}
                                </p>
                                <p>
                                {% trans 'Registered Office: International House, 142 Cromwell Road, KENSINGTON, London SW7 4EF, United Kingdom' %}
                                </p>
                            </div>
                        </div>
                    </div>
                </div><!--/copyright-->
            </div>
            <!--=== End Footer v1 ===-->
        </footer>
        
        {% block footer_js %}
        {% include "includes/footer_scripts.html" %}
        <script type="text/javascript" src="https://secure.leadforensics.com/js/95830.js" ></script>
        <noscript><img alt="" src="https://secure.leadforensics.com/95830.png" style="display:none;" /></noscript>

        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-99166749-1', 'auto');
          ga('send', 'pageview');

        </script> 
     
        <!-- <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
             })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
            ga('create', 'UA-92589294-1', 'auto');
            ga('send', 'pageview');
        </script>-->
        {% endblock %}
     
        <script type="text/javascript">
        {% block js_init %}
            jQuery(document).ready(function() {
                App.init();
                $(function () {
                    $('[data-toggle="tooltip"]').tooltip()
                })
                {% block extra_jquery_init %}{% endblock %}
            });
        {% endblock %}
        </script>   
        <!--Start of Tawk.to Script-->
        <script type="text/javascript">
            var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
            (function(){
                 var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
                 s1.async=true;
                 s1.src='https://embed.tawk.to/58b7f27c41acfb239f84c321/default';
                 s1.charset='UTF-8';
                 s1.setAttribute('crossorigin','*');
                 s0.parentNode.insertBefore(s1,s0);
             })();
        </script>
        <!--End of Tawk.to Script-->

        <script type="application/ld+json">
        {
          "@context": "http://schema.org",
          "@type": "Organization",
          "url": "https://ln2x.com",
          "logo": "https://s3.eu-central-1.amazonaws.com/ln2ximages/liquid-nexxus-logo.png",
          "contactPoint": [{
            "@type": "ContactPoint",
            "telephone": "+44-2033229095",
            "contactType": "customer service",
            "availableLanguage": [
              "English"
            ]
          },{
            "@type": "ContactPoint",
            "telephone": "+33-970730003",
            "contactType": "customer service",
            "contactOption": "TollFree",
            "availableLanguage": [
              "French"
            ]
          },{
            "@type": "ContactPoint",
            "telephone": "+27-875504648",
            "contactType": "customer service",
            "contactOption": "TollFree",
            "availableLanguage": [
              "English"
            ]
          },{
            "@type": "ContactPoint",
            "telephone": "+55-3139560606",
            "contactType": "customer service",
            "contactOption": "TollFree",
            "availableLanguage": [
              "Spanish"
            ]
          },{
            "@type": "ContactPoint",
            "telephone": "+52-8141707161",
            "contactType": "customer service",
            "contactOption": "TollFree",
            "availableLanguage": [
              "English",
              "Spanish"
            ]
          }]
        }
        </script>
        <script type="application/ld+json">
        {
          "@context": "http://schema.org",
          "@type": "WebSite",
          "name": "LiquidNexxus",
          "alternateName": "LN2X",
          "url": "https://ln2x.com"
        }
        </script>
        <script type="application/ld+json">
        {
          "@context": "http://schema.org",
          "@type": "Organization",
          "name": "LiquidNexxus",
          "url": "https://ln2x.com",
          "sameAs": [
            "https://www.facebook.com/liquidnexxus/",
            "https://www.youtube.com/user/LiquidNexxus1",
            "https://www.linkedin.com/company-beta/750703/",
            "https://twitter.com/liquidnexxus1"
          ]
        }
        </script>
    </body>
</html>
