{% extends "pages/unifypage.html" %}
{% load mezzanine_tags i18n i18next page_contents staticfiles misc_filters %}

{% block body_classes %}{% endblock %}

{% block intro_style %}background: url({{ event.course.image_breakers_list_cycle|next_ib }}) repeat fixed;{% endblock %}

{% block meta_title %}{{ meta_title }}{% endblock %}
{% block title %}{{ header_title }}{% endblock %}
{% block intro_title %}{{ title }}{% if not editable_obj.is_published %} (Draft-Unpublished){% endif %}{% endblock %}
{% block intro_text %}<p class="dark">{{ event.date }} - {{ event.city }}{% if event.city and event.country %}, {% endif %}{{ event.country }}</p>{% endblock %}

{% block sub_menu %}
{% endblock %}

{% block extra_css %}
{{ block.super }}
{% endblock %}
{% block main %}
{% overridelocale lang_code %}
<div class="event">
    <div class="parallaxBg" style="background: url({{ imgbreaks|next_ib }}) fixed repeat"/>
        <div class="dark">
            <div class="container row-reveal backgrounded-intro">
                {% block description %}
                {% if event.description and event.description != '' %}
                {{ event.description|richtext_filters|safe }}
                {% elif event.course.description %}
                {{ event.course.description|richtext_filters|safe }}
                {% endif %}
                {% endblock %}
            </div>
            <div class="parallax-counter">
            {% block counters %}
                <div class="container row-reveal">
                    {% if event.is_past %}
                        <div class="bg-color-light tag-box box-shadow shadow-effect-1">
                            {% in_past_message lang_code %}
                        </div>
                    {% else %}
                    <!-- counters -->
                    <div class="row">
                        <div class="col-md-4 col-xs-6">
                            <div class="counters">
                                <h4>{% trans 'Days Remaining' %}</h4>
                                <span class="counter">{{ event.remaining_days }}</span>
                            </div>
                        </div>
                        <div class="col-md-4 col-xs-6 md-margin-bottom-50">
                        {% if event.still_earlybird %}
                            <div class="counters">
                                <h4>{% trans 'Days left for early bird' %}</h4>
                                <span class="counter">{{ event.early_bird_days }}</span>
                            </div>
                        {% else %}
                            <div class="text-center">
                                <div class="col-sm-12">
                                    <h4>{% trans 'seat(s) occupied' %}</h4>
                                </div>
                                <div class="col-sm-8 col-sm-offset-2">
                                    <div class="progress progress-u progress-striped active ">
                                        <div class="progress-bar progress-bar-u" role="progressbar" data-width="{{ event.seats_occupied }}">
                                    {% if event.seats_occupied < 50 %}
                                        </div>
                                        <span>{{ event.seats_occupied }}%</span>
                                    {% else %}
                                        <span>{{ event.seats_occupied }}%</span>
                                        </div>
                                    {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                        </div>
                        <div class="col-md-4 col-xs-12">
                            <div class="counters">
                                <h4>{% trans 'seat(s) left' %}</h4>
                                <span class="counter">{{ event.seats_left }}</span>
                            </div>
                        </div>
                    {% if event.sold_out %}
                    </div>
                    <div class="">
                        <div class="col-md-2 col-md-offset-5 col-xs-4 col-xs-offset-4">
                            <div class="alert alert-success">
                                <h4>
                                {% trans 'Sold Out!' %}
                                </h4>
                            </div>
                        </div>
                    {% endif %}
                    </div><!-- end counters -->
                    {% endif %}
                </div>
            {% endblock %}
            </div>
        <!--
            <div class="container content">
                <div class="row">
            <ul class="nav navbar-nav sub-menu">
            {% for content in general_contents %}
                <li>
                    <a href="#{{ content.content.title|slugify }}">{{ content.content.title }}</a>
                </li>
            {% endfor %}
            {% for key, content in specific_contents.items %}
                <li>
                    <a href="#{{ content.content.title|slugify }}">{{ content.content.title }}</a>
                </li>
            {% endfor %}
            </ul>
        -->
        </div>
    </div>
    {% block general_contents %}
    {% for content in general_contents %}
    <div class="row">
        <div class="container row-reveal content">
        {% include "ln2xevents/contentrow.html" %}
        </div>
    </div>
    <div class="parallaxBg separator" style="background: url({{ imgbreaks|next_ib }}) fixed repeat"/></div>
    {% endfor %}
    {% endblock %}

    {% block who_attends %}
    {% with content=who_attends_content %}
    {% if content.content %}
    <div class="row">
        <div class="container row-reveal content">
        {% include "ln2xevents/contentrow.html" %}
        </div>
    </div>
    <div class="parallaxBg separator" style="background: url({{ imgbreaks|next_ib }}) fixed repeat"/></div>
    {% endif %}
    {% endwith %}
    {% endblock %}

    {% block testimonials %}
    <div class="bg-color-light">
        <div class="container row-reveal content">
            <div class="testimonials-v6 testimonials-wrap">
                {% with content=testimonials_content %}
                    {% if content %}
                    {% include "ln2xevents/contentrow.html" %}
                    {% endif %}
                {% endwith %}

                <div class="owl-carousel owl-theme testimonials">
                    {% testimonials_blocks 'range10' lang_code course as testis %}
                    {% if testis %}
                    {{ testis|richtext_filters|safe }}
                    {% endif %}
                </div>
                <a href="/about-us/testimonials" class="btn btn-u">{% trans 'View More Testimonials' %}</a>
            </div>
        </div>
    </div>
    <div class="parallaxBg separator" style="background: url({{ imgbreaks|next_ib }}) fixed repeat"/></div>
    {% endblock %}


    {% block agenda %}
    {% with content=agenda_content %}
    {% if content.content %}
    <div id="agenda" class="row">
        <div class="container row-reveal content">
            {% include "ln2xevents/contentrow.html" %}
            {% if session_list %}
            <div class="owl-carousel owl-theme agenda-sessions">
            {% for session in session_list %}
                {% if session.session_format != 'BREAK' %}
                <div class="item shadow-wrapper">
                    <div class="confirmed tag-box tag-box-v2 box-shadow shadow-effect-4">
                        <h4>
                            <strong>
                            {{ session.public_name|title }}
                            </strong>
                        </h4>
                        {% if session.abstract %}
                        <p>
                            {{ session.abstract|striptags|truncatechars:150 }}
                        </p>
                        {% endif %}
                    </div>
                </div>
                {% endif %}
            {% endfor %}
            </div>
            <a href="agenda/" class="btn btn-u">{% trans 'View complete agenda and details' %}</a>
            {% endif %}
        </div>
    </div>
    <div class="parallaxBg separator" style="background: url({{ imgbreaks|next_ib }}) fixed repeat"/></div>
    {% endif %}
    {% endwith %}
    {% endblock %}
    

    {% block trainers %}
    {% with content=trainers_content %}
    {% if content.content %}
    <div class="row">
        <div class="container row-reveal content">
        {% include "ln2xevents/contentrow.html" %}
        </div>
    </div>
    <div class="parallaxBg separator" style="background: url({{ imgbreaks|next_ib }}) fixed repeat"/></div>
    {% endif %}
    {% endwith %}
    {% endblock %}

    {% block sponsors %}
    {% if sponsors_types %}
    {% with content=sponsors_content %}
    {% if content.content %}
    <div id="sponsors" class="row">
        <div class="container content">
            {% include "ln2xevents/contentrow.html" %}
            {% with sponsors_first=sponsors_types|first %}
            {% if sponsors_types|length > 1 or sponsors_first|length > 1 %}
            <div class="owl-carousel owl-theme sponsors">
            {% for sponsors in sponsors_types %}
            {% for sponsor in sponsors %}
                    <div class="profile-image">
                        <span class="helper"></span>
                        <img src="{{ sponsor.public_logo }}" alt="{{ sponsor.public_name }}"/>
                    </div>
            {% endfor %}
            {% endfor %}
            </div>
            <a href="sponsors" class="btn btn-u">{% trans 'View full list' %}</a>
            {% else %}
            {% for sponsors in sponsors_types %}
            {% for sponsor in sponsors %}
            <div class="container">
                <div class="row">
                    {{ sponsor.label.singular|safe }}
                </div>
                <div class="row">
                    <img class="logo-sponsor" src="{{ sponsor.public_logo }}" alt="{{ sponsor.public_name }}"/>
                </div>
                <div class="row">
                    <h3>
                        {{ sponsor.public_name }}
                    </h3>
                    <div>
                        {{ sponsor.public_description }}
                    </div>
                </div>
            </div>
            {% endfor %}
            {% endfor %}
            {% endif %}
            {% endwith %}
        </div>
    </div>
    <div class="parallaxBg separator" style="background: url({{ imgbreaks|next_ib }}) fixed repeat"/></div>
    {% endif %}
    {% endwith %}
    {% elif old_sponsors and old_sponsors|length > 4 %}
    {% with content=sponsors_content %}
    {% if content.content %}
    <div id="sponsors" class="row">
        <div class="container content">
            {% include "ln2xevents/contentrow.html" %}
            <div class="owl-carousel owl-theme sponsors">
            {% for sponsor in old_sponsors %}
                    <div class="profile-image">
                        <span class="helper"></span>
                        <img src="{{ sponsor.public_logo }}" alt="{{ sponsor.public_name }}"/>
                    </div>
            {% endfor %}
            </div>
        {% include 'ln2xevents/becomesponsormodalform.html' %}
        </div>
    </div>
    <div class="parallaxBg separator" style="background: url({{ imgbreaks|next_ib }}) fixed repeat"/></div>
    {% endif %}
    {% endwith %}
    {% endif %}
    {% endblock %}

    {% block speakers %}
    {% with content=speakers_content %}
    {% if content.content %}
    {% if content.content.reference != 'DefaultSpeakersTab' or speakers and content.content.reference == 'DefaultSpeakersTab' %}
    <div id="speakers" class="row">
        <div class="container content">
            {% include "ln2xevents/contentrow.html" %}
            {% if speakers %}
            {% if speakers|length > 2 %}
            <div class="owl-carousel owl-theme speakers">
            {% for speaker in speakers %}
                <div class="item">
                    <div class="profile-image photo">
                        <span class="helper"></span>
                        <img src="{{ speaker.custom_profile_image|default_if_none:"https://s3.eu-central-1.amazonaws.com/ln2ximages/Icons/avatar_empty.png" }}"/>
                    </div>
                </div>
            {% endfor %}
            </div>
            <a href="speakers" class="btn btn-u">{% trans 'View full list' %}</a>
            {% else %}
            {% for speaker in speakers %}
            <div class="panel panel-ln2xblue equal-height-column">
                <div class="panel-heading">
                    <h2 class="panel-title">
                        {{ speaker.public_name }}
                    </h2>
                </div>
                <div class="panel-body">
                    {% if speaker.custom_profile_image %}
                        <div class="profile-image photo">
                            <span class="helper"></span>
                            <img src="{{ speaker.custom_profile_image }}"/>
                        </div>
                    {% endif %}
                    <div id="bio-{{ speaker.id }}" class="">
                        <p>
                            {{ speaker.bio }}
                        </p>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% endif %}
            {% endif %}
        </div>
    </div>
    <div class="parallaxBg separator" style="background: url({{ imgbreaks|next_ib }}) fixed repeat"/></div>
    {% endif %}
    {% endif %}
    {% endwith %}
    {% endblock %}



    {% block venue %}
    <div class="row">
        <div class="container row-reveal content">
        {% if event.venue_name == '' %}
        {% with content=event.venue_content %}
            {% if content %}
            {% include "ln2xevents/contentrow.html" %}
            {% endif %}
        {% endwith %}
        {% else %}
            <div class="headline-center">
                <h2>{% trans 'Venue' %}</h2>
                {% if event.venue_name and event.venue_name != '' and event.venue_name != 'TBD' and event.venue_name != 'TBA' %}
                <h4>{{ event.venue_name }}</h4>
                {% endif %}
                <p>
                {% if event.address and event.address != '' and event.city and event.city != '' and event.country and event.country != '' %}
                {{ event.address }}, {{ event.city }} {{ event.country }}<br/><br/>
                {% endif %}
                {% if event.venue_description %}
                {{ event.venue_description|richtext_filters|safe }}
                {% endif %}
                </p>
            </div>
        {% endif %}
        </div>
    </div>
    <div id="map" class="map"></div>
    <div class="parallaxBg separator" style="background: url({{ imgbreaks|next_ib }}) fixed repeat"/></div>
    {% endblock %}

    {% block contact_form %}
    {% if not event.is_past %}
    <div class="row-reveal">
        <div class="headline-center">
            <h2>{% trans 'Enquiries' %}</h2>
        </div>
        <div class="row">
            <div class="container">
                <div class="col-md-8 col-md-offset-2">
                    <iframe scrolling="auto" src="https://portal.ln2x.com/home/ChangeLang?newLang={{ LANGUAGE_CODE }}&amp;retUrl=https://portal.ln2x.com/aspx/Register?id={{ event.salesforce_id }}"  width="100%" height="900px" frameborder="0" align="middle">
                        {% trans 'Your browser does not support iframes.' %} 
                        <a href="https://portal.ln2x.com/aspx/Register?id={{ event.salesforce_id }}" target="blank_">
                            {% trans 'Click here' %}
                        </a>
                        {% trans ' to open the registration page in a new tab' %}
                    </iframe>
                </div>
            </div>
        </div>
    </div>
    <div class="parallaxBg separator" style="background: url({{ imgbreaks|next_ib }}) fixed repeat"/></div>
    {% endif %}
    {% endblock %}

    {% block next_sessions %}
    {% with content=next_sessions_content %}
    <div class="row">
        <div class="container row-reveal content">
            {% if next_sessions %}
            {% include "ln2xevents/contentrow.html" %}
            <div class="owl-carousel owl-theme next-sessions">
                {% for entry in next_sessions %}
                {% include 'ln2xevents/events/eventslistelem.html' %}
                {% endfor %}
            </div>
            <a href="/events/browse/" class="btn btn-u">{% trans 'View Full Schedule' %}</a>
            {% else %}
            {% with content=no_next_sessions_content %}
            {% include "ln2xevents/contentrow.html" %}
            {% endwith %}
            {% endif %}
        </div>
    </div>
    {% endwith %}
    {% endblock %}

    <div class="parallaxBg separator" style="background: url({{ imgbreaks|next_ib }}) fixed repeat"/></div>

</div>

{% endoverridelocale %}
{% endblock %}

{% block footer_js %}
{{ block.super }}
<script type="text/javascript"src="{% static "ln2xsite/js/pages/event_page.js" %}"></script>
<script src="https://unpkg.com/masonry-layout/dist/masonry.pkgd.js"></script>


<!-- Start block structured data -->
{% if event and event != "" %}
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Event",
  "name": "{{ event.course.title }}",
  "image": "{{ event.location_thumb }}",
  "startDate": "{{ event.start_date }}",
  "location": {
    "@type": "Place",
    "name": "{{ event.venue_name }}",
    "address": {
      "@type": "PostalAddress",
      "streetAddress": "{{ event.address }}",
      "addressLocality": "{{ event.city }}",
      "addressCountry": "{{ event.country }}"
    }
  },
  "description": "{{ event.course.description|richtext_filters|truncatechars_html:350|striptags }}",
  "endDate": "{{ event.end_date }}",
  "offers": {
    "@type": "Offer",
    "url": "https://ln2x.com{{ event.get_absolute_url }}",
    "availability": "{% if event.seats_left > 0 %} Available {% else %} Closed {% endif %}",
    "price": "{{ event.standard_price|make_list|slice:":-2"|join:"" }}",
    "priceCurrency": "{{ event.standard_price|make_list|slice:"-1::2"|join:"" }}",
    "validFrom": "{{ event.early_bird_deadline }}"
  },
  "performer": {
    "@type": "PerformingGroup",
    "name": [{% for speaker in speakers %}"{{ speaker.public_name }}"{% if forloop.last != True %},{% endif %}{% endfor %}]
  }
}
</script>

{% elif course and course != "" %}
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Course",
  "name": "{{ course.title }}",
  "description": "{{ course.description|richtext_filters|truncatechars_html:350|striptags }}",
  "provider": {
    "@type": "Organization",
    "name": "LiquidNexxus",
    "sameAs": "https://ln2x.com"
  }
}
</script>
{% endif %}

<!-- End block structured data -->
{% endblock %}

{% block extra_jquery_init %}
{{ block.super }}
{% block jOther %}
$('.counter').counterUp({
    delay: 10,
    time: 1000
});
ProgressBar.initProgressBarHorizontal();
{% endblock %}
{% block jMasonry %}
{% if not request.user_agent.is_mobile %}
});
$(window).load(function () {
$('.grid-boxes').masonry({
    itemSelector: '.grid-item',
    columnWidth: '.grid-item',
    gutter: '.gutter-sizer',
    percentPosition: true
});
{% endif %}
{% endblock %}
{% block jOwlCarousel %}
$(".3-col-carousel").owlCarousel({
    loop: true,
    center: true,
    margin: 10,
    autoplay: true,
    autoplayTimeout: 5000,
    autoplaySpeed: 1500,
    dots: false,
    items: 1,
});
$(".testimonials").owlCarousel({
    loop: true,
    margin: 20,
    autoplay: true,
    autoplayTimeout: 2000,
    autoplaySpeed: 700,
    dots: false,
    items: 2,
    responsive: {
        769: {
            items: 3,
        },
        992: {
            items: 4,
        }
    }
});
$(".agenda-sessions").owlCarousel({
    loop: true,
    margin: 20,
    autoplay: true,
    autoplayTimeout: 2000,
    autoplaySpeed: 700,
    center: true,
    dots: false,
    items: 1,
    responsive: {
        769: {
            items: 2,
        },
        992: {
            items: 3,
        }
    }
});
$(".speakers, .sponsors").owlCarousel({
    loop: true,
    margin: 20,
    autoplay: true,
    autoplayTimeout: 3000,
    autoplaySpeed: 1500,
    dots: true,
    items: 3,
    responsive: {
        769: {
            items: 4,
        },
        992: {
            items: 6,
        }
    }
});
$(".next-sessions").owlCarousel({
    margin: 10,
    center: false,
    rewind: true,
    autoplay: true,
    autoplayTimeout: 9000,
    autoplaySpeed: 500,
    items: 1,
    responsive: {
        769: {
            items: 2,
        },
        992: {
            items: 3,
        }
    }
});
{% endblock %}
{% block jGMap %}
var map = new GMaps({
    div: '#map',
    lat: 51.5467879, 
    lng: -0.1812998,
    zoom: 4,
    scrollwheel: false
});
GMaps.geocode({
address: '{% if event.address != '' and event.address != None and event.address != 'TBD' and event.address != 'TBA' %}{{ event.address }} {% else %}{% if event.city != 'TBD' and event.city != 'TBA' %}{{ event.city }}, {% endif %}{{ event.country }}{% endif %}',
    callback: function(results, status) {
        if (status == 'OK') {
            var latlng = results[0].geometry.location;
            map.setCenter(latlng.lat(), latlng.lng());
            map.addMarker({
                icon: 'https://maps.google.com/mapfiles/ms/icons/orange-dot.png',
                lat: latlng.lat(),
                lng: latlng.lng()
            });
        }
    }
});

{% endblock %}
{% endblock %}
