{% extends "ln2xevents/events/eventpage.html" %}
{% load mezzanine_tags i18n i18next page_contents staticfiles misc_filters %}

{% block main %}
{% overridelocale lang_code %}

{% with sponsor_types=event.types_sponsor_list content=event.sponsors_content %}
<div id="sponsor" >
    <div class="container content">
        <div class="link-back">
            <a href="{{ event.get_absolute_url }}#sponsors">
                <i class="fa fa-arrow-circle-left"></i>
                {% trans 'Back to event' %}
            </a>
        </div>
        {% if content.content and sponsor_types %}
        {% include "ln2xevents/contentrow.html" %}
        <div class="sponsors">
        {% for sponsor_type in sponsor_types %}
        <hr class="primary-color" />
            <div class="row">
                <div class="container">
                    {% with first_sponsor=sponsor_type|first %}
                    <h3>{{ first_sponsor.label.plural }}</h3>
                    {% endwith %}
                </div>
            </div>
            {% for sponsor in sponsor_type %}
            <hr/>
            <div class="container">
                <div class="col-sm-2">
                    <img src="{{ sponsor.public_logo }}" alt="{{ sponsor.public_name }}"/>
                </div>
                <div class="col-sm-10">
                    <h3>
                        {{ sponsor.public_name }}
                    </h3>
                    <div>
                        {{ sponsor.public_description|richtext_filters|safe }}
                    </div>
                </div>
            </div>
            {% endfor %}
        {% endfor %}
        </div>
        {% endif %}
        <div class="link-back">
            <a href="{{ event.get_absolute_url }}#sponsors">
                <i class="fa fa-arrow-circle-left"></i>
                {% trans 'Back to event' %}
            </a>
        </div>
    </div>
</div>
{% endwith %}

{% endoverridelocale %}
{% endblock %}


{% block extra_jquery_init %}
{% block jMasonry %}
{{ block.super }}
{% endblock %}
{% endblock %}
