<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Liquid Nexxus Event</title>
</head>
<body style="margin: 0; padding: 0; font-family: Arial;">
	<table align="" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse;">
		<tr>
			<td bgcolor="#11476B" style="color: white; text-align: center; font-size: 20px;">
				<table align="center" cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse;">
					<tr>
						<td style="padding: 5px 10px 0px 10px;">
							<table align="center" cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse;">
								<td width="25%">
									<img src="https://s3.eu-central-1.amazonaws.com/ln2ximages/Icons/Smaller+LNX+Logo+White+Connections.png" alt="Liquid Nexxus" width="100" />
								</td>
								<td width="50%">
									BOLETÍN
								</td>
								<td width="25%">
									<img src="https://s3.eu-central-1.amazonaws.com/ln2ximages/Icons/Asbanc_White_logo.png" alt="Liquid Nexxus" width="150" />
								</td>
							</table>
						</td>
					</tr>
					<tr style="background-color: rgba(242, 151, 31, 0.66); color:#11476B">
						<td style="padding: 15px 5px 15px 5px;">
							Seguridad de Aplicaciones de Pago - Lima
						</td>
					</tr>
					<tr>
						<td style="padding: 5px 10px 0px 10px;">
							Martes 12 - Miércoles 13 Septiembre 2017, Lima - Peru
						</td>
					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td bgcolor="#FFF" style="padding: 5px 10px 0px 10px; color: #2a2b2b" >
				<table align="center" cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse;">
					<tr>

						<td style="padding: 5px 10px 0px 10px;">
							<h4 style="color:#F2971F;">
								EJES TEMÁTICOS 
							</h4>
						</td>
					</tr>
					<tr>
						<td>
						<table align="center" cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse;">
							<tr>
								<td>
									<ul style="list-style-image: url('https://s3.eu-central-1.amazonaws.com/ln2ximages/Icons/list-disc.png');">
										<li>
											Gestión de claves de cifrado criptográficas 
										</li>
										<li>
											El desarrollo de aplicaciones en PCI DSS
										</li>
										<li>
											Estándares y Mejores Prácticas de Codificación/Programación Segura
										</li>
										<li>
											SDLC
										</li>
										<li>
											Desarrollo vs Producción
										</li>
										<li>
											Procesos de "Code Review" y Buenas Prácticas
										</li>
										<li>
											Capacitacion y Recursos para Codificación Segura
										</li>
										<li>
											Laboratorio de Vulnerabilidades Comunes
										</li>
										<li>
											Escaneo de Vulnerabilidades
										</li>
										<li>
											Políticas, procedimientos y documentación
										</li>
										<li>
											Controles de Acceso y Restricciones en Bases de Datos
										</li>
										<li>
											Pruebas de Penetración en PCI: Requisitos, las mejores prácticas metodologías y
										</li>
									</ul>
								</td>
								<td>
									<img src="https://s3.eu-central-1.amazonaws.com/ln2ximages/Icons/Aufmacher_smartphone_security_free_norebbo_com_02.png" width="200">
								</td>
							</tr>
						</table>
						</td>
					</tr>
					<tr>
						<td style="padding: 5px 10px 0px 10px;">
							<h4 style="color:#F2971F;">
								LUGAR DEL CURSO 
							</h4>
						</td>
					</tr>
					<tr>
						<td>
						<table align="center" cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse;">
							<tr>
								<td>
									<img src="http://www.netkrom.com/legado/images/pic_city_sanisidro2.jpg" width="200">
								</td>
								<td>
									Asociación de Bancos del Perú - ASBANC. <br />
									Calle 41 No. 975 Urb. Córpac, San Isidro.
								</td>
							</tr>
						</table>
						</td>
					</tr>
					<tr>
						<td style="padding: 5px 10px 0px 10px;">
						<h4 style="color:#F2971F; margin-bottom: 5px;">
							INSCRIPCIÓN
						</h4>
						El costo de la inscripción es de USD 1,500 <br />
						<div style="border: rgb(242, 151, 31) solid 1px;padding: 5px 10px;margin: 10px 250px 0px -10px; width: 100%">
							<h4 style="color:#1EB1ED; margin-bottom: 5px; margin-top:0">
							Promoción 
							</h4>
							<div style="text-align: center">
								Hasta el 28 de Febrero de 2017<br/>
								<strong>
								20% de descuento
								</strong>
							</div>
						</div>
						<h4 style="color:#1EB1ED; margin-bottom: 5px;">
						La inscripción incluye:
						</h4>
						<ul style="list-style-type: none; margin-top: 0;">
							<li>
						Acceso al seminario completo
							</li>
							<li>
						Almuerzo Buffet & Café
							</li>
							<li>
						Certificado de asistencia
							</li>
						</ul>
						</td>
					</tr>
					<tr>
						<td style="padding: 5px 10px 0px 10px;">
							<strong style="color:#1B7CA3;">
								Enviar la ficha de inscripción a:     
							</strong>
							ASBANC   or  LIQUIDNEXXUS
						</td>
					</tr>
					<tr>
						<td style="padding: 10px 5px 5px 5px;">
							<table align="center" cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse;">
							<tr>
								<td>
									<ul style="list-style-type: none; margin-top: 0;">
										<li>
											ASBANC:
										</li>
										<li>
											Nombre: Liliana Reátegui
										</li>
										<li>
											Teléfono: + 511 6123306
										</li>
										<li>
											Correo: lreategui@asbanc.com.pe
										</li>
									</ul>
								</td>
								<td>
									<ul style="list-style-type: none; margin-top: 0;">
										<li>
											LIQUIDNEXXUS:
										</li>
										<li>
											Nombre: Daisy Perez
										</li>
										<li>
											Telf UK: + 44 20 3322 9095
										</li>
										<li>
											E: dperez@liquidnexxus.com
										</li>
									</ul>
								</td>
							</tr>
							</table>
							<strong style="color:#1B7CA3;">
							Para más información no dude en contactarnos 
							</strong>
						</td>
					</tr>
				</table>
			</td>
		</tr>
		<tr bgcolor="#11476B" style="color: white; text-align: center;">
			<td style="padding: 5px 10px 0px 10px;">
			<table align="center" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse;">
				<tr>
					<td style="padding: 5px 10px 0px 10px;">
						<a href="http://www.liquid-nexxus.com" style="color:inherit; text-decoration:none;">www.liquid-nexxus.com</a>
					</td>
				</tr>
				<tr>
					<td style="padding: 5px 10px 0px 10px;">
						LiquidNexxus Limited | Registro Mercantil : 6959415 - | VAT -  978380467
					</td>
				</tr>
				<tr>
					<td style="padding: 5px 10px 0px 10px;">
						Sede Internacional: 3er Piso, Barkat House, 116-118 Finchley Road, London, NW3 5HT, Reino Unido
					</td>
				</tr>
			</table>
			</td>
		</tr>
	</table>
</body>
</html>
