<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Liquid Nexxus</title>
</head>
<body style="margin: 0; padding: 0;">
	<table cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse; text-align: left; background:#0F2D41;">
	<tbody>
		<tr>
			<td style="color: white;">
				<table align="left" cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse; text-align: left;">
				<tbody>
					<tr>
						<td style="padding: 0px; text-align: right;">
							<img width="170px" src='https://s3.eu-central-1.amazonaws.com/ln2ximages/Icons/SMPLogoLighted.png'>
						</td>
						<td>
							<h2 style="text-transform: uppercase">
								Foro Latinoamericano<br/>
								<span style="color: #1EB1ED">
									Seguridad en <br/>medios de pago<br/>
								</span>
								Lima | 2017
							</h2>
						</td>
					</tr>
				</tbody>
				</table>
			</td>
		</tr>
		<tr>
			<td style="padding: 0; width:600px; height:250px; background: url(https://s3.eu-central-1.amazonaws.com/ln2ximages/misc/SMP-people.png) no-repeat center center/100% auto; text-align:center; vertical-align: bottom">
				<div style="background: rgba(242, 151, 33, 0.6);">
					<h3 style="color: #FFF; margin:0; padding:25px 0;">
						18 - 19 de Octubre 2017, Lima Peru
					</h3>
				</div>
			<td>
		</tr>
		<tr>
		<tr style="border-bottom: rgb(215, 215, 215) solid 1px;">
			<td style="padding: 5px 10px 0px 10px; background: white;" >
				<table align="center" cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse;">
					<tr>
						<td>
						<table align="center" cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse;">
							<tr>
								<td style="padding-bottom: 10px; text-align: center;"> 
									Foro fundado con el objetivo de elevar los niveles de conocimiento sobre los riesgos en los sistemas de pago en América Latina en el contexto global y donde asisten profesionales de la seguridad que trabajan en el mundo de Medios de Pago como POS y ATM, Fuerzas de Orden y Proveedores de Servicios de América Latina. 
								</td>
							</tr>
						</table>
						</td>
					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td>
				<table cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse; text-align: left;">
				<tbody>
					<tr style="background: white; border-bottom: rgb(215, 215, 215) solid 1px;">
						<td style="padding: 15px 0; width:150px; text-align: left; vertical-align: top;">
						</td>
						<td style="padding: 15px 0; width:300px; text-align: center; vertical-align: top;">
							<div>
								<h3 style="color: rgb(242, 151, 33); margin:0; padding:0;">
									LUGAR DEL FORO
								</h3>
								<div style="color: black; margin:0; padding:0;">
									<strong>JW Marriott Hotel Lima</strong> | 
									Malecón de la Reserva 615 - Miraflores, Lima - Perú
								</div>
							</div>
						<td>
						<td style="padding: 15px 0; width:150px; text-align: left; vertical-align: top;">
						</td>
					</tr>
				</tbody>
				</table>
				<table cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse; text-align: left;">
				<tbody>
					<tr style="background: white;">
						<td style="padding: 15px; width:300px; text-align: right; vertical-align: top; border-right: rgb(215, 215, 215) solid 1px;">
							<div>
								<h3 style="color: rgb(242, 151, 33); margin:0; padding:0; text-transform: uppercase;">
									Inscripción
								</h3>
								<div style="color: black; margin:0; padding:0;">
									El costo de la inscripción es de USD 750
								</div>
								<h3 style="color: rgb(27, 124, 163); margin:0; padding:0;">
									Promoción
								</h3>
								<div style="color: black; margin:0; padding:0; text-align: right;">
									Hasta el 31 de marzo de 2017 <br />
									<strong style="color: rgb(27, 124, 163)">40% de descuento</strong>
								</div>
							</div>
						<td>
						<td style="padding: 15px; width:300px; text-align: left; vertical-align: top;">
							<div>
								<div style="color: black; margin:0; padding:0;">
									<strong>Para más información no dude en contactarnos: <span style="color: rgb(242, 151, 33);">LiquidNexxus</span></strong>
								</div>
								<div>
									<b style="color: rgb(27, 124, 163);">T</b>: +44 20 33229095 | +33 970730003 | +27 875504648 | +55 3139560606 | +52 814 1707161
								</div>
								<div>
									<b style="color: rgb(27, 124, 163);">W</b>: <a href="http://www.liquid-nexxus.com">www.liquid-nexxus.com</a>
								</div>
								<div>
									<b style="color: rgb(27, 124, 163);">E</b>: <a href="mailto:dperez@liquidnexxus.com">dperez@liquidnexxus.com</a>
								</div>
								<div>
									<b style="color: rgb(27, 124, 163);">E</b>: <a href="mailto:lgalvis@liquidnexxus.com">lgalvis@liquidnexxus.com</a>
								</div>
								<div>
									<b style="color: rgb(27, 124, 163);">E</b>: <a href="mailto:vperez@liquidnexxus.com">vperez@liquidnexxus.com</a>
								</div>
							</div>
						<td>
					</tr>
				</tbody>
				</table>
			</td>
		</tr>
		<tr>
			<td>
				<table style="border-collapse: collapse; text-align: center;" width="600" cellspacing="0" cellpadding="0" align="center">
				<tbody>
					<td style="padding: 0px; width: 300px;">
						<img width="150px" src='https://s3.eu-central-1.amazonaws.com/ln2ximages/Icons/Smaller+LNX+Logo+White+Connections.png'>
					</td>
					<td style="padding: 0px; width: 300px;">
						<img width="260px" src='https://s3.eu-central-1.amazonaws.com/ln2ximages/Icons/Logo_Atefi_Final_Smaller_Bluer.png'>
					</td>
				</tbody>
				</table>
			</td>
		</tr>
	<tbody>
	</table>
</body>
</html>