<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Liquid Nexxus Eventos</title>
</head>
<body style="margin: 0; padding: 0;">
	<table align="center" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse;">
		<tr>
			<td bgcolor="#0F2D41" style="color: white; text-align: center; font-size: 20px;">
				<table align="center" cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse;">
					<tr>
						<td style="padding: 0px;">
							<table align="center" cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse;  background: url('https://ci3.googleusercontent.com/proxy/OD8O6WgENF4yOSRHBeqQwR5qLHUWeGYAIY8oK9XDY_cH0rYw48pknkWh8nnFat4pUmN5TxT9esoGWcL3uigvlMag4Z8dNqQjo_gHHWoXHdqNiE8aSLOggQcGGnTPLBxbbpT61ELpTHKnzA-xqhjFa65izbU=s0-d-e1-ft#https://na45.salesforce.com/servlet/servlet.ImageServer?id=01530000003KC9t&oid=00D30000000nwB0') no-repeat">
								<td width="25%">
									<img src="https://s3.eu-central-1.amazonaws.com/ln2ximages/Icons/Smaller+LNX+Logo+White+Connections.png" alt="Liquid Nexxus" width="100" />
								</td>
								<td width="50%">
									
								</td>
								<td width="25%">

								</td>
							</table>
						</td>
					</tr>
					<tr style="background-color: rgba(242, 151, 31, 0.66); color:#0F2D41">
						<td style="padding: 15px 5px 15px 5px;">
							Inscríbase a RBECA, ATMs y PCIs en Marzo - Santiago
						</td>
					</tr>
					<tr>
						<td style="padding: 5px 10px 0px 10px;">
							Semana 11 de Marzo, Santiago de Chile
						</td>
					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td bgcolor="#2a2b2b" style="padding: 5px 10px 0px 10px; color: #DDD" >
				<table align="center" cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse;">
					<tr>
						<td>
							<p>
							Estimado/a Veronica, 
							</p><p>
							LiquidNexxus, Líder global en capacitacion de medios de pago, canales electrónicos, seguridad y riesgo, tiene el agrado de informarle acerca de dos capacitaciones importantes que tendrán lugar en Santiago de Chile en Marzo. 
							</p><p>
							Le invitamos a usted  y a sus colegas a que no se pierdan esta importantes capacitaciones que describo a continuación.
							</p>
						</td>
					</tr>
					<tr>
						<td style="padding: 5px 10px 0px 10px;">
							<h4 style="color:#F2971F; margin-bottom: 5px;">
							Proximós cursos
							</h4>
						</td>
					</tr>
					<tr>
						<td style="margin:0px; padding: 10px; text-align: center;">
							<table align="center" cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse;">
								<tr>
									<td style="margin:0px" width="100%">
										<table align="center" cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse;">
											<tr>
												<td style="margin:0px;" valign="top">
													<img src="https://s3.eu-central-1.amazonaws.com/ln2ximages/Banner/atm_security_banner.jpg" style="width:185px;">
												</td>
												<td style="margin:0px;" valign="top">
													<img src="https://s3.eu-central-1.amazonaws.com/ln2ximages/Banner/PRFRBECAbanner.png" style="width:185px;">
												</td>
												<td style="margin:0px;" valign="top">
													<img src="https://s3.eu-central-1.amazonaws.com/ln2ximages/Banner/Web-Banner-PRF-2014.jpg" style="width:185px;">
												</td>
											</tr>
											<tr>
												<td>
													<h4 style="color:#1EB1ED; margin-bottom: 5px;">
													ATM Security Training Nueva Versión!</h4>
												</td>
												<td>
													<h4 style="color:#1EB1ED; margin-bottom: 5px;">
													Seminario de Riesgo de Banca Electrónica & Canales Alternos</h4>
												</td>
												<td>
													<h4 style="color:#1EB1ED; margin-bottom: 5px;">
													Curso internacional de Implementación y Gestión PCI DSS v3.2 </h4>
												</td>
											</tr>
											<tr style="text-align: left;">
												<td>
													<ul>
														<li style="">
															Un repaso exhaustivo a nivel de tecnología, procesos y riesgos en los cajeros automáticos.
														</li>
														<li style="">
															El&nbsp;Único&nbsp;a nivel mundial impartido a mas de 2000 personas, ahora actualizado&nbsp;con las nuevas tendencias de ataques lógicos&nbsp;incluyendo&nbsp;los Black Box Attacks, Malwares y&nbsp;más, no se lo pierda!
														</li>
														<li style="">
															Inversión:1500 USD.
														</li>
													</ul>
												</td>
												<td>
													<ul>
														<li style="">
															Aprenda cómo ocurren los ataques en la práctica.
														</li>
														<li style="">
															Descubra metodologías para asegurar sistemas bancarios (Banca móvil &amp; Electrónica, POS, ATM's).
														</li>
														<li style="">
															Entiendan fallas y riesgos en sistemas bancarios.
														</li>
														<li style="">
															Inversión: 450 USD &nbsp;por 2 personas (2*1) / de cortesía cuando asiste a los otros cursos
														</li>
													</ul>
												</td>
												<td>
													<ul>
														<li style="">
															Curso introductorio a la normativa de seguridad de datos de Tarjetas. Comprenda el alcance y relación entre las normas PCI DSS y los diversos participantes de la industria de tarjetas.
														</li>
														<li style="">
															Entienda los controles PCI DSS, incluyendo las 12 secciones y sub-requisitos.
														</li>
														<li style="">
															Descubra&nbsp;cómo&nbsp;le afectan los cambios de v3.0 a v3.2
														</li>
														<li style="">
															Aprenda estrategias de gestión y el mantenimiento del cumplimiento (control de cambios y continuo monitoreo).
														</li>
														<li style="">
															Inversión:1450 USD.
														</li>
													</ul>
												</td>
											</tr>
											<tr>
												<td>
													<div>
														<h4 style="color:#F2971F; margin-bottom: 5px;">Lunes 13 y Martes 14 de Marzo</h4>
														<a href="http://ln2x.com/Events/1703ATMSecuritySantiagodeChile.html" style="color: #DDD; font-size: 12px; font-weight: bold; text-decoration: none; font-family: Arial, sans-serif; text-alight: center;">
															<div style="padding: 6px; text-align: center; background-color: #1B7CA3; width: 75px; margin:auto;">
															Más info
															</div>
														</a>
													</div>
												</td>
												<td>
													<div>
														<h4 style="color:#F2971F; margin-bottom: 5px;">Miércoles 15 de Marzo</h4>
														<a href="http://ln2x.com/Events/1703RBECASantiagodeChile.html" style="color: #DDD; font-size: 12px; font-weight: bold; text-decoration: none; font-family: Arial, sans-serif; text-alight: center;">
															<div style="padding: 6px; text-align: center; background-color: #1B7CA3; width: 75px; margin:auto;">
															Más info
															</div>
														</a>
													</div>
												</td>
												<td>
													<div>
														<h4 style="color:#F2971F; margin-bottom: 5px;">Jueves 16 y 17 Viernes de Marzo</h4>
														<a href="http://ln2x.com/Events/1703PCIDSSComplianceSantiagodeChile.html" style="color: #DDD; font-size: 12px; font-weight: bold; text-decoration: none; font-family: Arial, sans-serif; text-alight: center;">
															<div style="padding: 6px; text-align: center; background-color: #1B7CA3; width: 75px; margin:auto;">
															Más info
															</div>
														</a>
													</div>
												</td>
											</tr>
										</table>
									</td>
								</tr>
							</table>
						</td>
					</tr>
					<tr>
						<td style="padding: 5px 10px 0px 10px;">
							<h4 style="color:#F2971F; margin-bottom: 5px;">
							Promocion early bird: 
							</h4>
							<p>
							Aprovechen el descuento de 30% para quienes se incriban antes del 21 de Diciembre.
							</p>
						</td>
					</tr>
					<tr>
						<td>
							<p>
							En el siguiente link puede encontrar mayor información acerca de nuestro calendario para América Latina: <a href="https://portal.ln2x.com/aspx/Schedule?lang=es"  style="color:#1EB1ED; text-decoration:none;">Schedule</a>
							</p><p>
							No olviden que brindamos nuestros programas de formación en formatos e-Learning e in-house adaptados a las necesidades específicas de su compania.
							</p><p>
							Un cordial saludo!
							</p>
						</td>
					</tr>
					<tr>
						<td>
							<p style="margin-bottom:15px;"><font style="font-size: 14px">
								<b style="color:rgb(30,177,237)">Veronica Perez&nbsp;</b>
								<b style="color:rgb(255,255,255)">&gt;&nbsp;Directora LAC&nbsp;- Latin America&nbsp;&gt;</b>
								<b style="color:rgb(34,34,34)">&nbsp;<font color="#ff9300">LiquidNexxus</font>&nbsp;</b>
								<font face="arial, helvetica, sans-serif">
									<br style="line-height:14px"><b style="color:rgb(255,255,255);line-height:18px">LiquidNexxus Limited -</b>
									<span style="line-height:18px">&nbsp;Training, Payments, Security, Risk Specialists</span>
									<br style="line-height:14px"><span style="line-height:18px">Barkat House, 116-118 Finchley Road, London NW3 5HT, United Kingdom</span>
									<br style="line-height:14px"><span style="line-height:18px">T: London:+44 20 33229095 &nbsp;| +33 970730003 &nbsp;| +55 3139560606 &nbsp;</span>
									<br><span style="line-height:18px">W:&nbsp;</span>
									<a href="http://www.liquid-nexxus.com/" style="color:rgb(30,177,237);line-height:18px; text-decoration:none;" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en-GB&amp;q=http://www.liquid-nexxus.com/&amp;source=gmail&amp;ust=1480425364602000&amp;usg=AFQjCNE0Q4NWts-XhcU7H6AS1tdhPwaWWg">www.liquid-nexxus.com</a></font>
							</font></p>
						</td>
					</tr>
				</table>
			</td>
		</tr>
		<tr bgcolor="#0F2D41" style="color: white; text-align: center; font-size: 12px;">
			<td style="padding: 5px 0px 0px 0px;">
			<table align="center" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse;">
				<tr>
					<td style="padding: 5px 10px 0px 10px;">
						<a href="http://www.liquid-nexxus.com" style="color:inherit; text-decoration:none;">www.liquid-nexxus.com</a>
					</td>
				</tr>
				<tr>
					<td style="padding: 5px 0px 0px 0px;">
						LiquidNexxus Limited | Company Registration No: 6959415 - | VAT Number - 978380467 
					</td>
				</tr>
				<tr>
					<td style="padding: 5px 0px 0px 0px;">
						Registered Office: Suite 23, 3rd Floor, 116-118 Finchley Road, London, Greater London, NW3 5HT, United Kingdom 
					</td>
				</tr>
			</table>
			</td>
		</tr>
	</table>
</body>
</html>