<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Liquid Nexxus Eventos</title>
</head>
<body style="margin: 0; padding: 0;">
	<p>
		Estimado/a {!Contact.FirstName}, 
	</p><p>
		LiquidNexxus, Líder global en capacitacion de medios de pago, canales electrónicos, seguridad y riesgo, tiene el agrado de informarle acerca de dos capacitaciones y un seminario que tendrán lugar en Santiago de Chile en Marzo. 
	</p><p>
		Le invitamos a usted  y a sus colegas de {!Account.Name} a que no se pierdan esta importantes capacitaciones que describo a continuación.
	</p>

	<p>
	En el siguiente link puede encontrar mayor información acerca de nuestro calendario para América Latina: <a href="https://portal.ln2x.com/aspx/Schedule?lang=es"  style="color:#1EB1ED; text-decoration:none;">Schedule</a>
	</p><p>
	¿Tiene proyectos importantes en el 2017? Planifiquen el 2017 con tiempo con LiquidNexxus, recuerden que ofrecemos eLearning, cursos a medida y consultoría específica en Medios de Pago, Seguridad y Cumplimiento Normativo. Si desea hablar de sus proyectos y planes estamos a su disposición.
	</p><p>
	Un cordial saludo!
	</p>

	<div class="m_138853009328578041m_-326577250624459089gmail_signature" data-smartmail="gmail_signature">
		<div><br></div>
		<img style="float:left;margin:5px;height:70px;width:100px" src="https://ci5.googleusercontent.com/proxy/NLpKfXpSDo5thjWjZURJYdb0MTQZGDArtJQ5DJEWU4kO1qxdCXah9yRwq7sw7Qv9ZfUmKGIhkXHPlMWgBnla71MBJUxwwyTykudP1KVvjGECbWNeP8N9Z8o_y_FvHQ=s0-d-e1-ft#https://s3.eu-central-1.amazonaws.com/ln2ximages/Icons/liquid-nexxus-logo-white.png" alt="LNX Logo" class="CToWUd">
		<div><b style="color:rgb(30,177,237)">Veronica Perez </b><font color="#424242">&gt;</font><b> Regional Manager - Latin America</b> &gt;<b>&nbsp;<font color="#ff9300">LiquidNexxus</font>&nbsp;</b></div>
		<div><font color="#1EB1ED"><b>E</b></font>:&nbsp;<a href="mailto:vperez@liquidnexxus.com" target="_blank"><span class="il">vperez@liquidnexxus.com</span></a><b> &nbsp;</b><b><font color="#1eb1ed">S</font></b>:&nbsp;vperez-lnx&nbsp;<b><font color="#1eb1ed">M</font></b>:&nbsp;+44 7525 007910&nbsp;</div>
		<div><font color="#1EB1ED"><b>W</b></font>: <a href="http://www.liquid-nexxus.com" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en-GB&amp;q=http://www.liquid-nexxus.com&amp;source=gmail&amp;ust=1480509275050000&amp;usg=AFQjCNFb1y7QlyhUP3Y32WOXgL6yaNoMMQ">www.liquid-nexxus.com</a>&nbsp;</div>
		<div><font color="#1EB1ED"><b>HQ</b>:</font>&nbsp;116-118 Finchley Road, London NW3 5HT, United Kingdom |&nbsp;<font color="#1EB1ED"><b>T</b></font>: +44 20 33229095 | +33 970730003 | +27 875504648 | +55 3139560606 | +52 814 1707161 &nbsp;&nbsp;</div><br>
	</div>

	<table cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse;">
		<tr>
			<td bgcolor="#0F2D41" style="color: white; text-align: center;">
				<table align="center" cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse;">
					<tr>
						<td style="padding: 0px;">
							<img width="600px" src='https://ci3.googleusercontent.com/proxy/OD8O6WgENF4yOSRHBeqQwR5qLHUWeGYAIY8oK9XDY_cH0rYw48pknkWh8nnFat4pUmN5TxT9esoGWcL3uigvlMag4Z8dNqQjo_gHHWoXHdqNiE8aSLOggQcGGnTPLBxbbpT61ELpTHKnzA-xqhjFa65izbU=s0-d-e1-ft#https://na45.salesforce.com/servlet/servlet.ImageServer?id=01530000003KC9t&oid=00D30000000nwB0'>
						</td>
					</tr>
					<tr style="background-color: rgba(242, 151, 31, 0.66); color:#0F2D41">
						<td style="padding: 15px 5px 15px 5px; font-size: 20px; font-weight: bold;">
							Cursos y Seminarios LiquidNexxus en Chile - Marzo
						</td>
					</tr>
					<tr>
						<td style="padding: 5px 10px 0px 10px; font-size: 16px;">
							Semana 11 de Marzo, Santiago de Chile
						</td>
					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td bgcolor="#FFFFFF" style="color: rgb(15, 45, 65)" >
				<table align="center" cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse;">
					<tr>
						<td style="padding: 5px 10px 0px 10px;">
							<h4 style="color:#F2971F; margin-bottom: 5px; font-size: 18px;">
							Proximós cursos
							</h4>
						</td>
					</tr>
					<tr>
						<td style="margin:0px; padding: 10px; text-align: center;">
							<table align="center" cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse;">
								<tr>
									<td style="margin:0px" width="100%">
										<table align="center" cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse;">
											<tr>
												<td style="padding-right:10px;" valign="top">
													<img src="https://s3.eu-central-1.amazonaws.com/ln2ximages/Banner/atm_security_banner.jpg" style="width:275px;">
												</td>
												<td style="padding-left:10px;" valign="top">
													<img src="https://s3.eu-central-1.amazonaws.com/ln2ximages/Banner/PRFRBECAbanner.png" style="width:275px;">
												</td>
											</tr>
											<tr>
												<td style="padding-right:10px;">
													<h4 style="color:#1EB1ED; margin-bottom: 5px; font-size: 18px;">
													ATM Security Training Nueva Versión!</h4>
												</td>
												<td style="padding-left:10px;">
													<h4 style="color:#1EB1ED; margin-bottom: 5px; font-size: 18px;">
													Seminario de Riesgo de Banca Electrónica & Canales Alternos</h4>
												</td>
											</tr>
											<tr>
												<td style="padding-right:10px;">
													<ul style="margin: 5px 0;list-style: none; padding:0px;">
														<li style="margin-left:0;">
															Un repaso exhaustivo a nivel de tecnología, procesos y riesgos en los cajeros automáticos.
														</li>
														<li style="margin-left:0;">
															El&nbsp;Único&nbsp;a nivel mundial impartido a mas de 2000 personas, ahora actualizado&nbsp;con las nuevas tendencias de ataques lógicos&nbsp;incluyendo&nbsp;los Black Box Attacks, Malwares y&nbsp;más, no se lo pierda!
														</li>
														<li style="margin-left:0;">
															Inversión:1500 USD.
														</li>
													</ul>
												</td>
												<td style="padding-left:10px;">
													<ul style="margin: 5px 0;list-style: none; padding:0px;">
														<li style="margin-left:0;">
															Aprenda cómo ocurren los ataques en la práctica.
														</li>
														<li style="margin-left:0;">
															Descubra metodologías para asegurar sistemas bancarios (Banca móvil &amp; Electrónica, POS, ATM's).
														</li>
														<li style="margin-left:0;">
															Entiendan fallas y riesgos en sistemas bancarios.
														</li>
														<li style="margin-left:0;">
															Inversión: 750 USD o cortesía cuando asiste a uno de los dos cursos
														</li>
													</ul>
												</td>
											</tr>
											<tr style="text-align: center;">
												<td style="padding-right:10px;">
													<div>
														<h4 style="color:#F2971F; margin:0; margin-bottom: 5px;">Lunes 13 y Martes 14 de Marzo</h4>
														<p>(-)20% para quienes se inscriban o (-)25% si pagan antes del 27 de Enero</p>
														<a href="http://ln2x.com/Events/1703ATMSecuritySantiagodeChile.html" style="color: #DDD; font-size: 12px; font-weight: bold; text-decoration: none; font-family: Arial, sans-serif; text-alight: center;">
															<div style="padding: 6px; text-align: center; background-color: #1B7CA3; width: 75px; margin:auto;">
															Más info
															</div>
														</a>
													</div>
												</td>
												<td style="padding-left:10px;">
													<div>
														<h4 style="color:#F2971F; margin:0; margin-bottom: 5px;">Miércoles 15 de Marzo</h4>
														<p>(-)20% para quienes se inscriban o (-)25% si pagan antes del 27 de Enero</p>
														<a href="http://ln2x.com/Events/1703RBECASantiagodeChile.html" style="color: #DDD; font-size: 12px; font-weight: bold; text-decoration: none; font-family: Arial, sans-serif; text-alight: center;">
															<div style="padding: 6px; text-align: center; background-color: #1B7CA3; width: 75px; margin:auto;">
															Más info
															</div>
														</a>
													</div>
												</td>
											</tr>
										</table>
									</td>
								</tr>
							</table>
						</td>
					</tr>
					<tr>
						<td style="margin:0px; padding: 10px; text-align: center;">
							<table align="center" cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse;">
								<tr>
									<td style="margin:0px" width="100%">
										<table align="center" cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse;">
											<tr>
												<td style="padding-right:10px;" valign="top">
													<img src="https://s3.eu-central-1.amazonaws.com/ln2ximages/Banner/cards_banner.jpg" style="width:275px;">
												</td>
												<td style="padding-left:10px;" valign="top">
													<img src="https://s3.eu-central-1.amazonaws.com/ln2ximages/Banner/LNX+Default+Banner+Computer+Coding.jpg" style="width:275px;">
												</td>
											</tr>
											<tr>
												<td style="padding-right:10px;">
													<h4 style="color:#1EB1ED; margin-bottom: 5px; font-size: 18px;">
													Certificación PCI Professional </h4>
												</td>
												<td style="padding-left:10px;">
													<h4 style="color:#1EB1ED; margin-bottom: 5px; font-size: 18px;">
													Seguridad de Sistemas Mainframe y Core Banking </h4>
												</td>
											</tr>
											<tr>
												<td style="padding-right:10px;">
													<ul style="margin: 5px 0;list-style: none; padding:0px;">
														<li style="margin-left:0;">
															¡Por primera vez en Español! Curso certificado introductorio a PCI DSS. Este curso y examen proporciona una certificación individual para profesionales que valida su nivel de conocimiento en PCI, certificado por el PCI SSC (el consejo PCI). La certificación (una vez pasen el examen) es válida durante 3 años. Pre-requisito minimo 2 años de experiencia en TI.
														</li>
														<li style="margin-left:0;">
															Agenda completa y detalles online.
														</li>
														<li style="margin-left:0;">
															Inversión:1950 USD.
														</li>
													</ul>
												</td>
												<td style="padding-left:10px;">
													<ul style="list-style: none; padding:0px;">
														<li style="margin-left:0;">
															En este curso, el asistente aprenderá por qué y cómo asegurar activos de software y datos en el entorno de Mainframe.
														</li>
														<li style="margin-left:0;">
															El curso ayuda a mejorar las prácticas de desarrollo y gestión para fortalecer los sistemas mainframe heredados con mejores prácticas y ejemplos.
														</li>
														<li style="margin-left:0;">
															Agenda completa y detalles online.
														</li>
														<li style="margin-left:0;">
															Inversión:2250 USD.
														</li>
													</ul>
												</td>
											</tr>
											<tr style="text-align: center;">
												<td style="padding-right:10px;">
													<div>
														<h4 style="color:#F2971F; margin:0; margin-bottom: 5px;">Jueves 16 y 17 Viernes de Marzo</h4>
														<p>(-)20% para quienes se inscriban o (-)25% si pagan antes del 27 de Enero</p>
														<a href="http://ln2x.com/Events/1703PCIPSantiagodeChile.html" style="color: #DDD; font-size: 12px; font-weight: bold; text-decoration: none; font-family: Arial, sans-serif; text-alight: center;">
															<div style="padding: 6px; text-align: center; background-color: #1B7CA3; width: 75px; margin:auto;">
															Más info
															</div>
														</a>
													</div>
												</td>
												<td style="padding-left:10px;">
													<div>
														<h4 style="color:#F2971F; margin:0; margin-bottom: 5px;">Jueves 16 y 17 Viernes de Marzo</h4>
														<p>(-)20% para quienes se inscriban o (-)25% si pagan antes del 27 de Enero</p>
														<a href="http://ln2x.com/Events/1703MainframeSantiago.html" style="color: #DDD; font-size: 12px; font-weight: bold; text-decoration: none; font-family: Arial, sans-serif; text-alight: center;">
															<div style="padding: 6px; text-align: center; background-color: #1B7CA3; width: 75px; margin:auto;">
															Más info
															</div>
														</a>
													</div>
												</td>
											</tr>
										</table>
									</td>
								</tr>
							</table>
						</td>
					</tr>
					<tr>
						<td style="padding: 5px 10px 0px 10px; text-align: center">
							<h4 style="color:#F2971F; margin-bottom: 5px; font-size: 18px;">
							Promocion early bird: 
							</h4>
							<p>
							Aprovechen las ofertas de inscripción temprana: (-)20% para quienes se inscriban o (-)25% si pagan antes del 27 de Enero
							</p>
							<table style="border-collapse: collapse;">
							<tbody>
								<tr style="border-bottom: 0.5px dashed #F2971F;">
									<td style="border-right: 0.5px dashed #F2971F;">
										Curso 
									</td>
									<td style="border-left: 0.5px dashed #F2971F;border-right: 0.5px dashed #F2971F;">
										Costo Standard 
									</td>
									<td>
										Inscripción antes del 27 Enero (20%)
									</td>
									<td style="border-left: 0.5px dashed #F2971F;">
										Pago antes del 27 de Enero (25%)
									</td>
								</tr>
								<tr style="border-bottom: 0.5px dashed #F2971F;">
									<td style="border-right: 0.5px dashed #F2971F;">
										ATM Security 
									</td>
									<td style="border-left: 0.5px dashed #F2971F;border-right: 0.5px dashed #F2971F;">
										$1,500
									</td>
									<td style="border-left: 0.5px dashed #F2971F;border-right: 0.5px dashed #F2971F;">
										$1,200
									</td>
									<td style="border-left: 0.5px dashed #F2971F;">
										$1,125
									</td>
								</tr>
								<tr style="border-bottom: 0.5px dashed #F2971F;">
									<td style="border-right: 0.5px dashed #F2971F;">
										PCIP  
									</td>
									<td style="border-left: 0.5px dashed #F2971F;border-right: 0.5px dashed #F2971F;">
										$1,950
									</td>
									<td style="border-left: 0.5px dashed #F2971F;border-right: 0.5px dashed #F2971F;">
										$1,560
									</td>
									<td style="border-left: 0.5px dashed #F2971F;">
										$1,463
									</td>
								</tr>
								<tr style="border-bottom: 0.5px dashed #F2971F;">
									<td style="border-right: 0.5px dashed #F2971F;">
										RBECA 
									</td>
									<td style="border-left: 0.5px dashed #F2971F;border-right: 0.5px dashed #F2971F;">
										$750 
									</td>
									<td style="border-left: 0.5px dashed #F2971F;border-right: 0.5px dashed #F2971F;">
										$600
									</td>
									<td style="border-left: 0.5px dashed #F2971F;">
										$563
									</td>
								</tr>
								<tr>
									<td style="border-right: 0.5px dashed #F2971F;">
										Mainframe Security 
									</td>
									<td style="border-left: 0.5px dashed #F2971F;border-right: 0.5px dashed #F2971F;">
										$2,250 
									</td>
									<td style="border-left: 0.5px dashed #F2971F;border-right: 0.5px dashed #F2971F;">
										$1,800
									</td>
									<td style="border-left: 0.5px dashed #F2971F;">
										$1,688
									</td>
								</tr>
							</tbody>
							</table>
						</td>
					</tr>
					<tr>
						<td style="padding: 5px 10px 0px 10px; text-align: center">
							<h4 style="color:#F2971F; margin-bottom: 5px; font-size: 18px;">
							Capacitación in-company y Consultoría 
							</h4>
							<p>
								<b>¿Tiene proyectos importantes en el 2017?</b> Planifiquen el 2017 con tiempo con LiquidNexxus, recuerden que ofrecemos <b>eLearning, cursos a medida y consultoría</b> específica en Medios de Pago, Seguridad y Cumplimiento Normativo. Si desea hablar de sus proyectos y planes estamos a su disposición, <b>¡agendemos una llamada!</b>
							</p>
							<p>
								<cite>"Cuida los minutos y las horas se cuidarán de si mismas."</cite> -Lord Chesterfield (1694-1773)
							</p>
							<a href="http://www.liquid-nexxus.com/es/contacto" style="color: #DDD; font-size: 12px; font-weight: bold; text-decoration: none; font-family: Arial, sans-serif; text-alight: center;">
								<div style="padding: 6px; text-align: center; background-color: #1B7CA3; width: 75px; margin:auto; margin-bottom:5px;">
								Contáctenos
								</div>
							</a>
						</td>
					</tr>
				</table>
			</td>
		</tr>
		<tr bgcolor="#0F2D41" style="color: white; text-align: center; font-size: 12px;">
			<td style="padding: 5px 0px 0px 0px;">
			<table align="center" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse;">
				<tr>
					<td style="padding: 5px 10px 0px 10px;">
						<a href="http://www.liquid-nexxus.com" style="color:inherit; text-decoration:none;">www.liquid-nexxus.com</a>
					</td>
				</tr>
				<tr>
					<td style="padding: 5px 0px 0px 0px;">
						LiquidNexxus Limited | Company Registration No: 6959415 - | VAT Number - 978380467 
					</td>
				</tr>
				<tr>
					<td style="padding: 5px 0px 0px 0px;">
						Registered Office: Suite 23, 3rd Floor, 116-118 Finchley Road, London, Greater London, NW3 5HT, United Kingdom 
					</td>
				</tr>
			</table>
			</td>
		</tr>
		<tr>
			<td style="padding: 0px;">
				<img width="600px" src='https://ci6.googleusercontent.com/proxy/4TefKkWmhcLIJ9of4naR4ONwP3y-JaPDT8obxGpzOirI57QH5psdTKhPPwS3R55MA74E8igcB8eM6-JYZufU0P0OPWDKfA5WmRAPn3lu2lu1oZevDw-vdXi0Fle8IHnDdUPFuXzpTqv1wvd-o3TyWageg-8=s0-d-e1-ft#https://na45.salesforce.com/servlet/servlet.ImageServer?id=01530000003ERcw&oid=00D30000000nwB0'>
				</div>
			</td>
		</tr>
	</table>
</body>
</html>
