/* Layout CSS LNX Images */


/* ------ LNX Image - Icons 64px - Before the text ------ */

.display_LNXImage_icon64px {
    float: right;
    display:flex;
    flex-direction: row;
    /*flex-flow:column wrap; */

}

#LNXImage_64px {
    width: 64px; 
    height: 64px;
    margin:10px 10px 5px 10px;
}

@media screen and (max-width: 561px) {
    
    .display_LNXImage_icon64px {
        float: right;
        display:flex;
        flex-direction: row;
    }
    
    #LNXImage_64px {
        width: 50px; 
        height: 50px;
        margin:10px 10px 5px 10px;
    }
}

/* ------ LNX Image - Icons 128px - Under the text ------ */

.display_LNXImage_icon128px_Down {
    padding: 10px;
    font-size: 0;
    display: -ms-flexbox;
    -ms-flex-wrap: wrap;
    -ms-flex-direction: column;
    -webkit-flex-flow: row wrap; 
    flex-flow: row wrap; 
    display: -webkit-box;
    display: flex;
}

.display_LNXImage_icon128px_Down div { 
  -webkit-box-flex: auto;
  -ms-flex: auto;
  flex: auto; 
  width: 150px; 
  margin: 0; 
  text-align: center;
}

.display_LNXImage_icon128px_Down div img { 
  width: 150px; 
  height: auto; 
  padding: 10px;
}

@media screen and (max-width: 561px) {
    .display_LNXImage_icon128px_Down {
        padding: 10px;
        font-size: 0;
        display: -ms-flexbox;
        -ms-flex-wrap: wrap;
        -ms-flex-direction: column;
        -webkit-flex-flow: row wrap; 
        flex-flow: row wrap; 
        display: -webkit-box;
        display: flex;
    }
    
    .display_LNXImage_icon128px_Down div { 
      -webkit-box-flex: auto;
      -ms-flex: auto;
      flex: auto; 
      width: auto; 
      margin: 0; 
      text-align: center;
    }
    
    .display_LNXImage_icon128px_Down div img { 
      width: 100px; 
      height: auto; 
      padding: 10px;
    }
}

/* ------ LNX Image - 3 columns ------ */

.display_LNXImage_3col {
    
    -webkit-columns: 3;
    -moz-columns: 3;
    columns: 3;
    
    padding: .5vw;
    font-size: 0;
    display: -ms-flexbox;
    -ms-flex-wrap: wrap;
    -ms-flex-direction: column;
    -webkit-flex-flow: row wrap; 
    flex-flow: row wrap; 
    display: -webkit-box;
    display: flex;
}

.display_LNXImage_3col div {
    -webkit-box-flex: auto;
    -ms-flex: auto;
    flex: auto; 
    width: auto; 
    margin: .0;
    text-align: center;
}

#LNXImage_3col {
    width: 300px; 
    height: auto; 
    
    padding: 10px;
    margin: 0;
}

@media screen and (min-width: 720px) and (max-width: 991px) {

    .display_LNXImage_3col {
        
        -webkit-columns: 3;
        -moz-columns: 3;
        columns: 3;
        
        padding: 10px;
        font-size: 0;
        display: -ms-flexbox;
        -ms-flex-wrap: wrap;
        -ms-flex-direction: column;
        -webkit-flex-flow: row wrap; 
        flex-flow: row wrap; 
        display: -webkit-box;
        display: flex;
    }
    
    .display_LNXImage_3col div {
        -webkit-box-flex: auto;
        -ms-flex: auto;
        flex: auto; 
        width: auto; 
        margin: 0;
    }
    
    #LNXImage_3col {
        width: 225px; 
        height: auto; 
        
        padding: 10px;
        margin: 0;
    }
}

@media screen and (max-width: 720px) {
    .display_LNXImage_3col {
        
        padding: 10px;
        font-size: 0;
        display: -ms-flexbox;
        -ms-flex-wrap: wrap;
        -ms-flex-direction: column;
        -webkit-flex-flow: row wrap; 
        flex-flow: row wrap; 
        display: -webkit-box;
        display: flex;
    }
    
    .display_LNXImage_3col div {
        -webkit-box-flex: auto;
        -ms-flex: auto;
        flex: auto; 
        width: auto; 
        margin: 0;
        text-align: center;
    }
    
    #LNXImage_3col {
        width: 175px; 
        height: auto; 
        padding: 5px;
        margin: 0;
    }
}


/* ------ Default Tab Images ------ */
#LNXImage {
    float: right;
    width: 64px; 
    height: auto;
    margin:10px 10px 5px 10px;
}
